.top-bar {
	background: #121212;
}
.top-bar-section ul li.active > a {
	background: #000;
	color: white;
}
#content > ul {
	margin-bottom: 0;
}
#content > ul > li {
	list-style-type: none;
}
.inline-list > li.active > a {
	color: #155062 !important;
	cursor: default;
}